<!-- <section id="skill">
  <div class="container mt-5">
    <div class="h3 text-center mb-4 title" style="color: white;">Skills</div>
    <span class="bar-title mb-5"></span>
    <div class="row mt-2">
      <div class="col-lg-7 px-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="h5 text-white mb-4 title">Professional</div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Angular</span>
                  <span class="skillvalue mt-2">85%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">JavaScript</span>
                  <span class="skillvalue mt-2">80%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">SQL server</span>
                  <span class="skillvalue mt-2">80%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">React</span>
                  <span class="skillvalue mt-2">75%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">MS Office Tools</span>
                  <span class="skillvalue mt-2">90%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">power bi</span>
                  <span class="skillvalue mt-2">80%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 75%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="h5 text-white mb-4 title">Personal</div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">communication</span>
                  <span class="skillvalue mt-2">80%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Team work</span>
                  <span class="skillvalue mt-2">85%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Creativity</span>
                  <span class="skillvalue mt-2">80%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Dedication</span>
                  <span class="skillvalue mt-2">90%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Time management
                  </span>
                  <span class="skillvalue mt-2">85%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="label d-flex flex-row">
            <div class="col-md-7">
              <div class="progress-container progress-primary">
                <div class="label d-flex flex-row">
                  <span class="skillLabel">Adaptability</span>
                  <span class="skillvalue mt-2">90%</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section> -->



<div class="section" id="skill">
  <div class="container mt-5">
    <div class="h3 text-center mb-4 title" style="color: white;">Skills</div>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col" >
        <div class="h5 text-white mb-4 title text-center">Professional</div>
      </div>
      <div class="col" >
        <div class="h5 text-white mb-4 title text-center">Personal</div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Angular</span>
            <span class="skillvalue mt-2">85%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">critical thinking</span>
            <span class="skillvalue mt-2">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">JavaScript</span>
            <span class="skillvalue mt-2">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Team work</span>
            <span class="skillvalue mt-2">85%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">MS SQL</span>
            <span class="skillvalue mt-2">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Creativity</span>
            <span class="skillvalue mt-2">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
          </div>
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">React</span>
            <span class="skillvalue mt-2">75%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Dedication</span>
            <span class="skillvalue mt-2">90%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">MS Office Tools</span>
            <span class="skillvalue mt-2">90%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Time management
            </span>
            <span class="skillvalue mt-2">85%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="w-100"></div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">power bi</span>
            <span class="skillvalue mt-2">80%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 75%;"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="progress-container progress-primary">
          <div class="label d-flex flex-row">
            <span class="skillLabel">Adaptability</span>
            <span class="skillvalue mt-2">90%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>