
<div class="section" id="skill">
  <div class="container mt-5">
    <div class="h3 mb-4 title">
      <h3><strong>Skills</strong></h3>
    </div>
    <span class="content-title mb-4"></span>


    <div class="skillsContainer container card" data-aos="fade-up" data-aos-offset="10">
      <div class="row mb-4">
        <div class="col-12 col-md-6">
          <div class="h5 text-white title text-center">Professional</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="h5 text-white title text-center">Personal</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Angular</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Critical Thinking</span>
              <span class="skillvalue">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">JavaScript</span>
              <span class="skillvalue">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Team work</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">SQL</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Resilience</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Python</span>
              <span class="skillvalue">70%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 70%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Creativity</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">React</span>
              <span class="skillvalue">70%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 70%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Dedication</span>
              <span class="skillvalue">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">MS Office Tools</span>
              <span class="skillvalue">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Time management</span>
              <span class="skillvalue">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" data-aos="fade-right">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Power BI</span>
              <span class="skillvalue">75%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 75%;"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4" data-aos="fade-left">
          <div class="progress-container progress-primary">
            <div class="label d-flex justify-content-between align-items-center mb-2">
              <span class="skillLabel">Adaptability</span>
              <span class="skillvalue">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>