
<div class="section" id="skill">
  <div class="container mt-5">
    <div class="h3 mb-4 title">
      <h3><strong>Skills</strong></h3>
    </div>
    <span class="content-title mb-4"></span>

    <div class="skillsContainer" data-aos="fade-up" data-aos-offset="10">
      <div class="row" data-aos="fade-right">
        <div class="col" >
          <div class="h5 text-white mb-4 title text-center">Professional</div>
        </div>
        <div class="col" >
          <div class="h5 text-white mb-4 title text-center">Personal</div>
        </div>
        <div class="w-100"></div>

        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">&nbsp;Angular</span>
              <span class="skillvalue mt-2">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">&nbsp;critical thinking</span>
              <span class="skillvalue mt-2">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="w-100"></div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">&nbsp;JavaScript</span>
              <span class="skillvalue mt-2">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">&nbsp;Team work</span>
              <span class="skillvalue mt-2">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-right">
        <div class="w-100"></div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">&nbsp;MS SQL</span>
              <span class="skillvalue mt-2">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel">Creativity</span>
              <span class="skillvalue mt-2">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 80%;"></div>
            </div>
          </div>        
        </div>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="w-100"></div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">React</span>
              <span class="skillvalue mt-2">75%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">Dedication</span>
              <span class="skillvalue mt-2">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-right">
        <div class="w-100"></div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">MS Office Tools</span>
              <span class="skillvalue mt-2">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">Time management</span>
              <span class="skillvalue mt-2">85%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="w-100"></div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">power bi</span>
              <span class="skillvalue mt-2">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 75%;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress-container progress-primary">
            <div class="label d-flex flex-row">
              <span class="skillLabel mx-1">Adaptability</span>
              <span class="skillvalue mt-2">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-aos="progress-full" data-aos-duration="2000" style="width: 90%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>