.container{
    background-color: rgb(125, 55, 182);
    padding-bottom: 50px;
    padding-top: 25px;
    border-radius: 20px;
}

.card-body{
    background-color: rgb(121, 23, 201);
    border-style: solid;
    
}

.progress-container.progress-primary .progress-badge {
    color: #fafafa;
}
.progress-container.progress-primary .progress-value{
    color: #e5e2e2;
}

.skillLabel{
  width: 100%;
  margin-top: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #050d18d7;
  text-transform: uppercase;
}
.skillvalue{
    color: white;
    font-weight: 400;
}



.skillData-Wrapper, .label {
  width: 100%; 
}







