
.cc-instagram,.cc-twitter {
    position: relative;
    color: rgb(212, 0, 0);
}

// .highlight{
//     // color:aquamarine;
//     animation: myfirst 5s infinite;
// }
// @keyframes myfirst {
//     0%   {color: red; ;}
//     30%  {color: blue; }
//     75%  {color: green; }
//     100% {color: aquamarine; }
//   }