<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <h3><strong>Work Experience</strong></h3>
        <span class="content-title mb-3"></span>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge t2">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="timeline-panel" data-aos="flip-up">
                        <div class="row" (mouseenter)="HideGTL = !HideGTL" (mouseleave)="HideGTL = !HideGTL">
                            <div class="col-lg-10">
                                <div class="h5 mt-2 title">
                                    <a href="https://www.geojittechnologies.com/" target="_blank">Geojit Technologies
                                        Pvt. Ltd (2022- Present)</a>
                                </div>
                                <p>Geojit Technologies Pvt. Ltd. (GTL) is a globally focused software
                                    solutions
                                    provider.
                                    GTL provides smart software solutions to help banking and financial
                                    enterprises
                                    manage change.
                                </p>
                                <ng-container *ngIf="HideGTL">
                                    <div class="h6 mt-2 title ">
                                        &nbsp; <span class="k-icon k-i-user px-3"></span>
                                        <b>Junior Software Engineer</b> &nbsp; &nbsp;
                                        <span>(2022- Present)</span>
                                    </div>
                                    <div class="col-lg-8 px-4">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Front End Web Development</li>
                                                <ul><li>Angular</li></ul>
                                                <li class="non_list">Database</li>
                                                <ul><li>SQL</li></ul>
                                            </ul>
                                        </ul>
                                    </div>
        
                                </ng-container>
                            </div>
                            <!-- <div class="h6 mt-0 title row">
                                <i class="fas fa-briefcase"></i>&nbsp;
                                <b>Junior Software Engineer- Trainee</b> &nbsp; &nbsp;
                                <span>(2022- Present)</span>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list mt-5">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Web Development</li>
                                        <li class="non_list">Software Development</li>
                                    </ul>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="timeline-panel" data-aos="flip-up">
                        <div class="row" (mouseenter)="HideDC = !HideDC" (mouseleave)="HideDC = !HideDC">
                            <div class="col-lg-10 ">
                                <div class="h5 mt-2 title">
                                    <a href="https://dentcaredental.com/" target="_blank">DentCare Dental Lab Pvt. Ltd (2018- 2021)</a>
                                </div>
                                <p>Dentcare work as a team to provide products and services of superlative quality.
                                    Dedicated to elevate the experience of clinicians in the dental fraternity
                                </p>
                                <ng-container *ngIf="HideDC">
                                    <div class="h6 mt-0 title col-12">
                                        <span class="k-icon k-i-user"></span>&nbsp;
                                        <b>Administrative associate- All India sales and Marketing</b> &nbsp;
                                        <span>(2018 - 2020)</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Team Management</li>
                                                <li class="non_list">Documentation</li>
                                                <li class="non_list">Sales Growth Analytics</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="HideDC">
                            <div class="h6 mt-2 title ">
                                &nbsp; <span class="k-icon k-i-user px-3"></span>
                                <b>Data Analyst- Quality Assurance</b> &nbsp; &nbsp;
                                <span>(2020 - 2021)</span>
                            </div>
                            <div class="col-lg-8 px-4">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Data Management</li>
                                        <li class="non_list">Data visualization</li>
                                        <li class="non_list">Descriptive and Predictive Analytics</li>
                                    </ul>
                                </ul>
                            </div>

                        </ng-container>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>