<div class="section" id="experience">
  <div class="container">
    <div class="h3">
        <h3><strong>Work Experience</strong></h3>
    </div>
    <span class="content-title mb-4"></span>

    <div class="row">
      <div class="col-md-12">
        <ul class="timeline">
            <li>
                <div class="timeline-badge t2"><i class="fas fa-building"></i></div>
                <div class="timeline-panel" data-aos="flip-up">
                    <div class="timeline-content" (mouseenter)="HideGTL = true" (mouseleave)="HideGTL = false">
                        <div class="h5 mt-2 title">
                            <a href="https://www.geojittechnologies.com/" target="_blank"
                                >Geojit Technologies Pvt. Ltd (2022- 2024)</a>
                        </div>

                        <p>
                            Geojit Technologies Pvt. Ltd. (GTL) is a globally focused
                            software solutions provider. GTL provides smart software
                            solutions to help banking and financial enterprises manage
                            change.
                        </p>

                        <div *ngIf="HideGTL" class="details-section animated fadeIn">
                            <div class="h6 mt-0 title col-12">
                                <span class="k-icon k-i-user"></span>&nbsp;
                                <b>Junior Software Engineer</b> &nbsp;
                            </div>

                            <div class="col-lg-8 px-3">
                                <ul class="mt-2 px-3">
                                    <li>Core Functionality</li>
                                    <ul>
                                        <li>Front End Web Development (Angular)</li>
                                        <li>Database (MS-SQL)</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge up bg-green">
                <i class="fas fa-building"></i>
                </div>

                <div class="timeline-panel" data-aos="flip-up">
                    <div class="row" (mouseenter)="HideDC = !HideDC" (mouseleave)="HideDC = !HideDC">
                        <div class="col-lg-10">
                            <div class="h5 mt-2 title">
                                <a href="https://dentcaredental.com/" target="_blank">DentCare Dental Lab Pvt. Ltd (2018- 2021)</a>
                            </div>
                            <p>
                                Dentcare work as a team to provide products and services of
                                superlative quality. Dedicated to elevate the experience of
                                clinicians in the dental fraternity
                            </p>
                            <ng-container *ngIf="HideDC">
                                <div class="h6 mt-0 title col-12">
                                    <span class="k-icon k-i-user"></span>&nbsp;
                                    <b>Administrative associate- All India sales and
                                        Marketing</b> &nbsp;
                                    <span>(2018 - 2020)</span>
                                </div>

                                <div class="col-lg-8 px-3">
                                    <ul class="mt-2 px-3">
                                        <li>Core Functionality</li>
                                        <ul>
                                        <li>Team Management</li>
                                        <li>Documentation</li>
                                        <li>Sales Growth Analytics</li>
                                        </ul>
                                    </ul>
                                </div>

                                <ng-container class="mt-3">
                                    <div class="h6 mt-0 title col-12">
                                        <span class="k-icon k-i-user"></span>&nbsp;
                                        <b>Data Analyst- Quality Assurance</b> &nbsp;
                                        <span>(2020 - 2021)</span>
                                    </div>
                                    <div class="col-lg-8 px-3">
                                        <ul class="mt-2 px-3">
                                            <li>Core Functionality</li>
                                            <ul>
                                            <li>Data Management</li>
                                            <li>Data visualization</li>
                                            <li>Descriptive and Predictive Analytics</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
