<div class="section mb-5" id="references">
    <div class="container">
        <div class="h3">
            <h3><strong>Certifications</strong></h3>
        </div>
        <span class="content-title mb-4"></span>

        <div class="card">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card-body  text-center">
                        <p>Committed to continuous learning and professional growth, I have successfully completed
                            multiple online
                            certifications from reputed platforms, strengthening my expertise in modern tools,
                            technologies, and
                            industry best practices.</p>

                        <div class="row  d-flex flex-nowrap overflow-auto mx-2" style="gap: 16px;">
                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/SQL_Practice.jpg" alt="Learning Certificate" loading="lazy"
                                                class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">SQL Practice Intermediate Queries</h3>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">LinkedIn Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                Feb 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">This course is designed to improve your SQL skills 
                                                and step up to the next level to learn more and take full command of SQL.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/Angular_Udemy.jpg" alt="Angular Certificate" loading="lazy"
                                                class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">Angular- The Complete Guide
                                                (2024 Edition)
                                            </h3>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">Udemy Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                March 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">Develop comprehensive and reactive Angular 
                                                applications including NgRx, RxJs, and Angular Material.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/Learning_NgRx.jpg" alt="Learning Certificate" loading="lazy"
                                                class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">Learning NgRx</h3><br>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">LinkedIn Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                March 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">This course helps you to have a good understanding 
                                                of the Observables and other key RxJS topics, such as: Subscriptions, 
                                                Observers, Operators, Subjects</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/Docker_For_Developers.jpg" alt="Learning Certificate" loading="lazy"
                                                class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">Docker For Developers</h3><br>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">LinkedIn Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                April 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">This course introduces Docker to an Absolute 
                                                Beginner using really simple and easy-to-understand lectures.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/Node.js_Essential_Training_WebServers.jpg" alt="Learning Certificate" 
                                            loading="lazy" class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">
                                                Node.js Essential Training Web Servers Tests and Deployment
                                            </h3>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">LinkedIn Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                April 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">This Node.js course provides an introduction to web
                                                application development by way of JavaScript and the node.js environment</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 border_Class py-5 mb-5">
                                <div class="overflow-x-auto p-8 scrollbar-horizontal">
                                    <div class="flex items-center justify-center gap-6 min-w-max px-6 ">
                                        <div class="p-2 flex-shrink-0">
                                            <img src="assets/images/certificates/Node.js_Essential_Training.jpg" alt="Learning Certificate" loading="lazy"
                                                class="certificate-img border rounded shadow" style="max-width: 200px; height: auto;">
                                        </div>

                                        <div class="text-center p-2">
                                            <h3 class="font-bold text-[15px] underline">Node.js Essential Training</h3><br>
                                            <p class="text-blue-400 font-semibold whitespace-nowrap text-sm">LinkedIn Learning</p>
                                            <p class="text-gray-400 mb-2 whitespace-nowrap text-[12px]">Issued on
                                                April 2024</p>
                                            <p class="text-gray-300 text-sm text-center ">This course is the perfect course that will take you 
                                                from a complete beginner to an advanced, highly-skilled Node.js developer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>