<div class="section mb-5" id="references">
    <div class="container">
        <div class="h3">
            <h3><strong>Certifications</strong></h3>
        </div>
        <span class="content-title mb-4"></span>

        <div class="card">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card-body  text-center">
                        <p>Committed to continuous learning and professional growth, I have successfully completed multiple online 
                        certifications from reputed platforms, strengthening my expertise in modern tools, technologies, and 
                        industry best practices.</p>

                        <div class="row">
                            <div class="col-md 3">
                                <figure>
                                    <picture class="certificate-img">
                                        <source srcset="assets/images/Dr. Vishnu.jpg" type="image/webp">
                                        <source srcset="assets/images/Dr. Vishnu.jpg" type="image/jpeg">
                                        <img src="assets/images/certificates/Angular_Udemy.jpg" alt="Web Development Certificate" loading="lazy"
                                        class="certificate-img">
                                    </picture>
                                    <figcaption>     
                                        <p>Angular - The Complete Guide (2024 Edition)  
                                            <br><strong>Instructor:</strong> Maximilian Schwarzmüller
                                        </p>
                                        <p>Udemy learning <small><br>Earned in March 2024</small></p>
                                        <p>Professional Development – Udemy <small><br>Earned in March 2024</small></p>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </div>
</div>