.myname{
    font-weight: 700;
    color: white;
}

h1{
    font-size: 1.5em;
    line-height: 3.15;
    margin-bottom: 3px;
}

.navbar{
    font-size: 15px;
}
/////////////////////////
li:hover,.home:hover {
    background-color: rgb(51, 59, 61);
}

i{
  font-size: 24px;
  padding-right: 6px;
  color: #a5a6a9;
}

