<div class="section" id="education">
    <div class="container cc-education">
        <h3><strong>Education</strong></h3>
        <span class="content-title mb-3"></span>
        <div class="card">
            <div class="row">
                <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2021- Present</p>
                        <div class="h5">Master's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <h4>Master of Business Administration</h4>
                        <h4 class="category">Annamalai University</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3" data-aos="fade-up" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2021- 2021</p>
                        <div class="h5">Web Development certification</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">MEARN Stack Web Development Expert</div>
                        <h4 class="category">Luminar Techno Lab, Kochi</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015- 2018</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Computer Applications</div>
                        <h4 class="category">Mount Carmel College, Karukadom</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>