<div class="container">
    <div class="h3">
        <h3><strong>Interests</strong></h3>
    </div>
    <span class="content-title mb-3"></span>
    
    <div id="grid">
        <div class="music" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-music mt-4"></i><br>
            <b>Music</b>
        </div>
        <div class="travel" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-bus mt-4"></i><br>
            <b>Travelling</b>
        </div>
        <div class="photography" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-camera mt-4"></i>
            <br>
            <b>Portrait Making</b>
        </div>
        <div class="coding">
            <i class="fa fa-code mt-4" ></i><br>
            <b>Coding</b>
        </div>
        <div class="volleyball" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-volleyball-ball mt-4"></i><br>
            <b>volleyball</b>
        </div>
        <div class="game" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-gamepad mt-4"></i><br>
            <b>Video games</b>
        </div>
        <div class="fitness" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <i class="fas fa-heartbeat mt-4"></i><br>
            <b>Fitness Activities</b>
        </div>
    </div>

</div>