#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }

  #grid > div {
    font-size: 20px;
    padding: 0.5em;
    background-color: darkcyan;
    text-align: center;
  }

  #grid > div > b {
    font-size: 22px;
  }

  // music //
  #grid > .music:hover {
    color: whitesmoke;
  }
  #grid > .music > .fa-music {
    font-size: 200%;
  }
  
  // travel //
  #grid > .travel:hover {
    color: whitesmoke;
  }
  #grid > .travel > .fa-bus {
    font-size: 200%;
  }
  
  // photography //
  #grid > .photography:hover {
    color: whitesmoke;
  }
  #grid > .photography > .fa-camera {
    font-size: 200%;
  }
  
  // coding //
  #grid > .coding:hover {
    color: whitesmoke;
  }
  #grid > .coding > .fa-code {
    font-size: 200%;
  }
  
  // volleyball //
  #grid > .volleyball:hover {
    color: whitesmoke;
  }
  #grid > .volleyball > .fa-volleyball-ball {
    font-size: 200%;
  }
  
  // game //
  #grid > .game:hover {
    color: whitesmoke;
  }
  #grid > .game > .fa-gamepad {
    font-size: 200%;
  }
  
  // fitness //
  #grid > .fitness:hover {
    color: whitesmoke;
  }
  #grid > .fitness > .fa-heartbeat{
    font-size: 200%;
  }
  
  
  